:root {
    --color-text-dark: #0D0D0D;
    --color-text-white: #f8f8f8;

    --color-segundaria-login: #f8f8f8;
    --color-register: #122936;

    --color-fundo-input: #e4e4e4d5;

    --color-box-shadow: #a0a0a0;

    --icon-color: #F3F3F3;
}