* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Livvic", sans-serif;
    
    
}

body{
    background-color: #ebedf3;
}
a{
    text-decoration: none;
    color: var(--color-text-dark);

}
